/* Pagination */

.pagination-ls {
  display: flex;
  gap: 0.2em;
  margin-bottom: 1.5em;
  position: absolute;
  bottom: 0.5em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.pagination-ls-item {
  list-style: none;
  background-color: rgb(255, 255, 255);
  width: 0.75em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid rgb(47, 47, 47);
}

.pagination-ls-item.active {
  background-color: rgb(18, 18, 18);
}


/* Buttons */

.next,
.previous {
  position: absolute;
  top: 0;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  z-index: 2;
}

.previous img,
.next img {
  fill: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
}

.previous img:hover,
.next img:hover {
  fill: rgba(0, 0, 0, 0.73);
}

.previous {
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

.next {
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}
.next svg {
  transform: rotate(180deg);
}

/* Slide Content */

.slider {
  /* width: 100%; */
  height: 30em;
  position: relative;
  z-index: 0;
  overflow: hidden;
  /* display: flex; */
  margin: 0px;
  padding: 0px;
}

.slider-content {
  position: relative;
  display: flex;
  height: inherit;
  /* float: left; */
  transition: all 700ms ease 0s;
  margin: 0px;
  padding: 0px;
}

.content-item {
  width: 100%;
  float: left;
  background-color: red;
  margin: 0px;
  padding: 0px;
}

.content-item img {
  width: 30em;
  margin: 0px;
  padding: 0px;
}

.content-slider {
  float: left;
  margin: 0px;
  padding: 0px;
}


/* Content */
/* .test {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */